@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Approve Claims";
}
<h2>Approve Claims (Academic Manager)</h2>
<table class="table">
    <thead>
        <tr><th>Claim ID</th><th>Lecturer</th><th>Hours</th><th>Amount (R)</th><th>Status</th><th>Action</th></tr>
    </thead>
    <tbody>
        <tr><td>020</td><td>Mary Brown</td><td>9</td><td>R900.00</td><td>Pre-Approved</td><td><button>Approve</button> <button>Reject</button></td></tr>
        <tr><td>021</td><td>Peter Nkosi</td><td>11</td><td>R1,100.00</td><td>Pre-Approved</td><td><button>Approve</button> <button>Reject</button></td></tr>
    </tbody>
</table>


