@{
    ViewData["Title"] = "Register";
}
<h2>Register</h2>
<form asp-action="Register" method="post" class="form">
    <label>Full Name:</label>
    <input type="text" name="fullname" />
    <label>Email:</label>
    <input type="email" name="email" />
    <label>Password:</label>
    <input type="password" name="password" />
    <label>Confirm Password:</label>
    <input type="password" name="confirmPassword" />
    <label>Role:</label>
    <select name="role">
        <option value="Lecturer">Lecturer</option>
        <option value="Programme Coordinator">Programme Coordinator</option>
        <option value="Academic Manager">Academic Manager</option>
    </select>
    <div class="form-actions">
        <button type="submit">Register</button>
    </div>
</form>
